<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- DTD stands for Document Type Definition -->

	<session-factory>


		<!-- Make sure the dialect points to Postgres -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- This is pointing to the PostgreSQL driver dependency we have in our 
			pom.xml -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

		<!-- These are JDBC Connection Credentials -->
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres?currentSchema=project1</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres95</property>

		<!-- Connection Pool properties -->
		<property name="hibernate.connection.pool_size">10</property>

		<!-- The most important property -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- CREATE, VALIDATE, UPDATE, NONE -->

		<!-- CREATE: drops all existing tables and objects with the names provided 
			in annotations, and then Hibernate will recreate the schema for us (CREATE 
			isn't the best for production, but useful for development -->

		<!-- UPDATE: hibernate will not delete anything, but only add to a schema 
			if there are objects that haven't been included yet -->

		<!-- VALIDATE: best for production. Checks to make sure that everything 
			is as expected (all tables and objects are where they're supposed to be) -->

		<!-- NONE: hibernate will not do anything (no removals, no addition) -->

		<!-- Prints out the SQL statments hibernate is executing agaiunst our database -->
		<property name="hibernate.show_sql">true</property>

		<!-- highlight then ctrl + shift + c for multiple lines -->

		<!-- List of mapping files -->
		<mapping class="com.revature.models.Movie" />
		<mapping class="com.revature.models.Ticket" />
		<mapping class="com.revature.models.Customer" />
		<mapping class="com.revature.models.Theatre" />
	</session-factory>
</hibernate-configuration>